/* *:before,
*:after {
   box-sizing: border-box;
} */ 

* {
    background-color: #ECEEF1;
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    /* width: 100% ; */
    /* height: 100%; */
}

.header img{
  
}

.createAccount img{
    
}

.header {
    /* text-align: right; */
    border: solid 1px red;
}

.signIn{
    float: right;
    
}

.container{
    width: 800px;
    align-content: center;
    margin: 0 auto;
}
button {
    background-color: #0279C5;
    color: white;
}

.terms {
 font-size: 14px
}

.captcha { 
    font-size: 9px;
    font-style: italic;
    color: gray;
}
.accountInfo{
    width: 800px;
    height: 500px;
}

input{
    display: flex;
    overflow-y: scroll;
    padding-bottom: 1rem;
    align-items: center
}